.navbar{
   
  margin: 20px;
  text-decoration: none;
  font-size: large;
 }
 .navbar:hover{
     text-decoration: underline;
 }
 .Heading{
     margin: 30px;
     padding: 20px;
     border: 1px;
 }
 .login{
  margin-left: 350px;
  text-decoration: none;
  font-size: large;
}
.login:hover,.signup:hover{
  text-decoration: underline;
}
.signup{
  margin-left: 80px;
  text-decoration: none;
  font-size: large;
}
.images{
  background-color: #ffffff;
 
  white-space: nowrap;
  padding: 0px;
  width: 100%;
  height: 50%;
}
.container1 {
  position: relative;
  text-align: center;
  color: rgb(201, 34, 34);
  padding: 0px;
  margin: 0px;
 
}

 .image-container{
  display:flex;
  flex-wrap: wrap;
}
.text{
  position: absolute;
  bottom: 8px;
  text-align: center;
  left: 450px;
  bottom: 600px;
  font-size: xx-large;
  color: black ;
}
.social-icons{
  display: flex;
 
}
.fab {
margin: 10px;
}




footer{
  margin-left: 400px;
}
.footer{
padding: 10px;
margin-top: 10px;
text-decoration: none;
}
.footer:hover{
  text-decoration: underline;
}
button{
  border-radius: 5px;
  background-color: rgb(238, 240, 240);
  bottom: 560px;
  size: 10px;
 
  position: absolute;
}
.mybutton{
  margin-left: 10px;
 
}
img{
margin-Left :'auto';
margin-Right :'auto';
display :'flex';
width: 100%;
flex-wrap: wrap;
}




.container {
  width: 80%;
  margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
 
}


.loader {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 16px solid #F3F3F3;
  border-radius: 50%;
  border-top: 16px solid #3498DB;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media screen and (max-width: 768px) {
  .mobile-details {
      width: calc(50% - 20px); /* 50% width for smaller screens */
  }
}
.mycontainer {
  text-align: center;
  margin-top: 20px;

}
.text {
  font-size: 24px;
  margin-top: 20px;
}
.button {
  margin-top: 20px;
}


.footer {
  margin-right: 20px;
}


.mobile-details,h2 {
  padding: 10px;
  border: 3px solid #b81212;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
color: black;
  margin-right: 550px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 text-align:justify;
 margin-left: 400px;
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 
 
}
